@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #777;
    font-family: 'Poppins', sans-serif
}

.wrapper {
    background-color: white;
    min-height: 100px;
    max-width: 48.6vw;
    margin: 10px auto;
    padding: 10px 30px
}

.dark,
.input:focus {
    background-color: white;
}

.navbar {
    padding: 0.5rem 0rem;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #222;
}

#income {
    border-right: 1px solid #bbb
}

.notify {
    display: none
}



.table thead th {
    text-transform: uppercase;
    color: black;
    background-color: white;
    font-size: 12px
}

.table thead th,
.table td,
.table th {
    border: none;
    overflow: auto auto;
}




@media(min-width:768px) and (max-width: 991px) {
    .wrapper {
        margin: auto
    }

    .navbar-nav:last-child {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%
    }

    .notify {
        display: inline
    }

    .nav-item .fa-search {
        padding-left: 10px
    }

    .navbar-nav .nav-item {
        padding: 0px
    }
}

@media(min-width: 300px) and (max-width: 767px) {
    .wrapper {
        margin: auto
    }

    .navbar-nav:last-child {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%
    }

    .notify {
        display: inline
    }

    .nav-item .fa-search {
        padding-left: 10px
    }

    .navbar-nav .nav-item {
        padding: 0px
    }

    #income {
        border: none
    }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 10px 15px;
        margin: auto
    }

    .btn {
        font-size: 12px;
        padding: 10px
    }

    .nav.nav-tabs .nav-link {
        padding: 10px
    }
}